@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
}